/target

# latex
grammar/*.aux
grammar/*.bbl
grammar/*.bcf
grammar/*.blg
grammar/*.dvi
grammar/*.fdb_latexmk
grammar/*.fls
grammar/*.log
grammar/*.pdf
grammar/*.run.xml
grammar/*.synctex.gz
grammar/*.fls
grammar/*.lof
grammar/*.lot


documents/*/*.aux
documents/*/*.bbl
documents/*/*.bcf*
documents/*/*.blg
documents/*/*.dvi
documents/*/*.fdb_latexmk
documents/*/*.fls
documents/*/*.log
documents/*/*.pdf
documents/*/*.run.xml
documents/*/*.synctex.gz
documents/*/*.fls
documents/*/*.out
documents/*/*.toc
documents/*/*.lof
documents/*/*.lot

documents/*/*/*.aux
documents/*/*/*.bbl
documents/*/*/*.bcf
documents/*/*/*.blg
documents/*/*/*.dvi
documents/*/*/*.fdb_latexmk
documents/*/*/*.fls
documents/*/*/*.log
documents/*/*/*.pdf
documents/*/*/*.run.xml
documents/*/*/*.synctex.gz
documents/*/*/*.fls
documents/*/*/*.out
documents/*/*/*.toc
documents/*/*/*.lof
documents/*/*/*.lot

documents/*/*/*/*.aux
documents/*/*/*/*.bbl
documents/*/*/*/*.bcf
documents/*/*/*/*.blg
documents/*/*/*/*.dvi
documents/*/*/*/*.fdb_latexmk
documents/*/*/*/*.fls
documents/*/*/*/*.log
documents/*/*/*/*.pdf
documents/*/*/*/*.run.xml
documents/*/*/*/*.synctex.gz
documents/*/*/*/*.fls
documents/*/*/*/*.out
documents/*/*/*/*.toc
documents/*/*/*/*.lof
documents/*/*/*/*.lot

documents/*/personal
