/target

# latex
grammar/*.aux
grammar/*.bbl
grammar/*.bcf
grammar/*.blg
grammar/*.dvi
grammar/*.fdb_latexmk
grammar/*.fls
grammar/*.log
grammar/*.pdf
grammar/*.run.xml
grammar/*.synctex.gz
grammar/*.fls


documents/bc/*.aux
documents/bc/*.bbl
documents/bc/*.bcf
documents/bc/*.blg
documents/bc/*.dvi
documents/bc/*.fdb_latexmk
documents/bc/*.fls
documents/bc/*.log
documents/bc/*.pdf
documents/bc/*.run.xml
documents/bc/*.synctex.gz
documents/bc/*.fls
documents/bc/*.out
documents/bc/*.toc

documents/bc/*/*.aux
documents/bc/*/*.bbl
documents/bc/*/*.bcf
documents/bc/*/*.blg
documents/bc/*/*.dvi
documents/bc/*/*.fdb_latexmk
documents/bc/*/*.fls
documents/bc/*/*.log
documents/bc/*/*.pdf
documents/bc/*/*.run.xml
documents/bc/*/*.synctex.gz
documents/bc/*/*.fls
documents/bc/*/*.out
documents/bc/*/*.toc

documents/bc/*/*/*.aux
documents/bc/*/*/*.bbl
documents/bc/*/*/*.bcf
documents/bc/*/*/*.blg
documents/bc/*/*/*.dvi
documents/bc/*/*/*.fdb_latexmk
documents/bc/*/*/*.fls
documents/bc/*/*/*.log
documents/bc/*/*/*.pdf
documents/bc/*/*/*.run.xml
documents/bc/*/*/*.synctex.gz
documents/bc/*/*/*.fls
documents/bc/*/*/*.out
documents/bc/*/*/*.toc

documents/dc/*.pdf

documents/bc/personal